# 开发环境缓存/临时文件
.ruff_cache/
.DS_Store
*.tmp

# IDE配置（选择性忽略）
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# 系统/编译文件
__pycache__/
*.py[cod]
node_modules/

C++/
*.exe

code.code-workspace
project/Papers/